{% extends 'base.html' %}

{% block title %}
  Document
{% endblock %}

{% block intro %}
  <h1>服务记录</h1>
  <!-- 添加一个按钮跳转至删除员工界面
  <form action="/delete_historyt" method="get">
    <button type="submit">删除部门</button>
  </form> -->
{% endblock %}

{% block content %}
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr {
      background-color: #f2f2f2;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }
  </style>
  <form action="/history" method="get">
    <button type="submit">返回</button>
  </form>
    <!--  -->
    <h1>{{worker_id}}的服务记录有{{service_count}}次，展示如下</h1>
  <table>
    <tr>
      <th>员工号</th>
      <th>客户身份证号</th>
      <th>服务日期</th>
      <th>服务类型</th>
    </tr>
    {% for history in historys %}
      <tr>
        <td>{{ history[0] }}</td>
        <td>{{ history[1] }}</td>
        <td>{{ history[2] }}</td>
        <td>{{ history[3] }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
