{% extends 'base.html' %}

{% block title %}
  Document
{% endblock %}

{% block intro %}
  <h1>Client List</h1>
{% endblock %}

{% block content %}
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr {
      background-color: #f2f2f2;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }
  </style>
  <table>
    <tr>
      <th>名字</th>
      <th>电话号码</th>
      <th>地址</th>
      <th>性别</th>
      <th>身份证号</th> 
    </tr>
    {% for client in clients %}
      <tr>
        <td>{{ client[0] }}</td>
        <td>{{ client[1] }}</td>
        <td>{{ client[2] }}</td>
        <td>{{ client[3] }}</td>
        <td>{{ client[4] }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}